.app.dark {
    --bg-color: #2c112a;
    --inverted-bg-color: #c5c5c5;


    --primary-color: #106417;
    --secondary-color: #250e5c;
    --inverted-primary-color: #000000;
    --inverted-secondary-color: #beb2db;
}
