:root {
  --bg-color: #c5c5c5;
  --inverted-bg-color: #2c112a;


  --primary-color: #000000;
  --secondary-color: #beb2db;

  --inverted-primary-color: #106417;
  --inverted-secondary-color: #250e5c;
}
